# Ignore CSV files
ipl_data_2008_to_2024/*.csv
ipl_data_2024/*.csv

# Ignore web scraped player summary CSV files
web_scraped_data/*.csv

# Ignore modified player summary CSV file
summarized_data/dim_players.csv

# Ignore Python bytecode cache directories
__pycache__/
